* {
    box-sizing: border-box;
}

/* body 样式 */
body {
    font-family: Arial;
    margin: 0;
}

/* 标题 */
.header {
    padding: 80px;
    text-align: center;
    font-family: "Lucida Sans";
    background-image: url("./header-image2.jpg");
    color: #202447;
    text-shadow: 2px 2px 2px white;
    background-size: cover;
}

/* 标题字体加大 */
.header h1 {
    font-size: 75px;
}
.header h3 {
    font-size: 25px;
}

/* 导航 */
.navbar {
    height: 65px;
    overflow: hidden;
    background-color: #d5acb6;
    display: flex;
    /* 使用弹性布局 */
    justify-content: center;
    /* 在主轴上居中对齐 */
}

/* 导航栏样式 */
.navbar a {
    float: left;
    display: block;
    background-color: #d5acb6;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    margin: 0 0px;
    /* 添加左右间距 */
}

/* 右侧链接*/
.navbar a.right {
    float: right;
}

/* 鼠标移动到链接的颜色 */
/* 组合选择器 */
.navbar a:hover {
    background-color: #ffefefd1;;
    color: #341d1d;
}
/* 激活颜色 */
.navbar a.active {
    background-color: #ffffff;
    color: #5b4646;
}

/* 列容器 */
.row {
    display: flex;
    flex-wrap: wrap;
}
.side {
    flex: 10%;
    background-color: #f1f4f7;
    padding: 20px;
}

.menu {
    position: sticky;
    top: 20px;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    border-bottom: 1px solid #ced4da;
}
.menu a {
    font-size: 1.3em;
    text-decoration: none;
    color: rgb(113, 135, 171);
}

/* 主要的内容区域 */
.main {
    flex: 70%;
    background-color: white;
    padding: 40px;
}

/* 底部 */
.footer {
    border-top: 1px solid #ced4da;
    padding: 20px;
    text-align: center;
    background: #ffffff;
}

/* 表格格式 */
.table {
    text-align: center;
    background-color: rgb(238, 236, 236);
    border-radius: 25px;
    width: 80%;
    padding: 20px;
}

/* 图片格式 */
/* ID 选择器 */
#img002 {
    float: left;
    padding: 10px;
    clear: none;
    margin-top: 20px;
    margin-right: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 16%;
    text-align: center;
}


/* 定义申请表两列的格式 */
.column {
    float: left;
    padding: 15px 75px 75px;
}

/* 响应式布局 - 在屏幕设备宽度尺寸小于 700px 时, 让两栏上下堆叠显示 */
@media screen and (max-width: 700px) {
    .row {
        flex-direction: column;
    }
}

/* 响应式布局 - 在屏幕设备宽度尺寸小于 400px 时, 让导航栏目上下堆叠显示 */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}